<div class="container">
  <div class="row">
      <div class="col-md-12">
          <a [routerLink]="['/']">quotes</a>
          <a [routerLink]="['/newquote']">New Quotes</a>
        </div>
  </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
</div>
