<form (ngSubmit)= "onSubmit(fm)" #fm="ngForm">
  <div class="form-group">
    <label for="content">Content</label>
    <input type="text" id="content" name="content" ngModel >
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>